h1 {
    font-family: Open Sans, sans-serif;
    font-weight: 500;
}

p {
    font-family: Open Sans, sans-serif;
}

text{
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}

text.title{
    font-size: 24px;
    font-weight: 500;
}

text.subTitle{
    font-weight: 500;
    fill: #777777;
}

text.caption{
    font-weight: 400;
    font-size: 14px;
    fill: #777777;
}

text.halo {
    text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white; 
}

text.label{
    font-weight: 600;
    text-anchor: end;
  }

text.valueLabel{
   font-weight: 300;
  }

text.innerLabel{
    font-weight: 600;
}

text.outerLabel{
    font-weight: 300;
    font-style: normal;
}

text.roundText{
    font-size: 64px;
    font-weight: 700;
    opacity: 0.25;
}

.tick text {
    fill: #777777;
}

.xAxis .tick:nth-child(2) text {
    text-anchor: start;
}

.tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
}

.tick line.origin{
    stroke: #aaaaaa;
}

path.domain{
    display: none;
}